<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<dubbo:application name="stock-consumer"/>
	<dubbo:registry address="zookeeper://127.0.0.1:2181"/>
	<dubbo:reference id="stockService" interface="com.crossoverJie.seconds.kill.api.StockService"/>
	<dubbo:reference id="orderService" interface="com.crossoverJie.seconds.kill.api.OrderService"/>

</beans>